{% extends 'cliqo/base.html' %}

{% load static %}

{% block content %}
    <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between col-12" style="padding-bottom: 3em;">
      <h1 class="h3 mb-0 text-gray-800">Active contacts</h1>
      <a href="{% url 'cliqo:create-contact' %}"
         class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-pen fa-sm text-white-50"></i>
        Create new contact</a>
  </div>

  <!-- Content Row -->
  <div class="row justify-content-space-around">
      {% for contact in object_list %}
      <!-- Matter Item -->
      <div class="col-12">
          <div class="card border-left-info shadow h-100 py-2">
              <div class="card-body">
                  <div class="row no-gutters align-items-center">
                      <div class="col">
                          <div class="text-lg font-weight-bold text-info text-uppercase">Contact Name</div>
                      </div>
                      <div class="col-7">
                          <h6 class="h5 mb-0 mr-3 font-weight-bold text-gray-800">Contact Email</h6>
                      </div>
                      <div class="col-1">
                          <a href="{% url 'cliqo:contact-focus' contact.id %}" class="btn btn-success btn-circle">
                              <i class="fas fa-arrow-right"></i>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      {% empty %}
      <div class="d-sm-flex align-items-center justify-content-between col-12" style="padding-bottom: 3em;">
          <h1 class="h3 mb-0">No contacts to display</h1>
      </div>
      {% endfor %}
  </div>
{% endblock %}