{% extends 'cliqo/base.html' %}

{% load static %}

{% block content %}
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between col-12">
        <h1 class="h3 mb-0 text-gray-800">New contact</h1>
    </div>

    <!-- Content Row -->
    <div class="row">
        <div class="col-4" style="padding: 2em 4em;">
            <form action="{% url 'cliqo:create-contact' %}" method="post">
                {% csrf_token %}
                <div>
                    {{ form.as_p }}
                </div>
                <button type="submit" class="btn btn-success btn-icon-split" style="margin-top: 2em">
                    <span class="icon text-white-50">
                        <i class="fas fa-check"></i>
                    </span>
                    <span class="text" style="color: #f0f0f0">Submit</span>
                </button>
            </form>
        </div>
    </div>
{% endblock %}