{% extends 'cliqo/base.html' %}

{% load static %}
{% load mathfilters %}

{% block content %}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <a href="{% url 'cliqo:matters' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
        <i class="fas fa-arrow-left fa-sm text-white-50"></i> Back</a>


    <h1 class="h3 mb-0 text-gray-800">{{}}</h1>


    <a href="" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
        Edit <i class="fas fa-pen fa-sm text-white-50"></i></a>
</div>

<!-- Content Row -->
<div class="row">
    <!-- Matter Element -->
    <div class="col-xl-4 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="h2 mb-0 mr-3 font-weight-bold text-gray-800">Tasks</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <a href="" class="btn btn-success btn-circle">
                          <i class="fas fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Matter Element -->
    <div class="col-xl-4 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="h2 mb-0 mr-3 font-weight-bold text-gray-800">Documents</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <a href="" class="btn btn-success btn-circle">
                          <i class="fas fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Matter Element -->
    <div class="col-xl-4 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="h2 mb-0 mr-3 font-weight-bold text-gray-800">Accounts</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <a href="" class="btn btn-success btn-circle">
                          <i class="fas fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6 mb-3">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Matter Details</h6>
            </div>
            <div class="card-body">
                <p class="h5 mb-0 text-gray-800">Reference Number: {{}}</p>
                <p>{{}}</p>
           </div>
       </div>
    </div>
    <div class="col-lg-6 mb-4">
        <div class="card shadow mb-4">
             <div class="card-header py-3">
                 <h6 class="m-0 font-weight-bold text-primary">Outcomes</h6>
             </div>
             <div class="card-body">
                <ol>
                    <li>...goals...</li>
                </ol>
                 <div class="d-sm-flex align-items-center justify-content-between mb-4">
                     <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                            <i class="fas fa-pen fa-sm text-white-50"></i> Add Goal</a>
                 </div>
             </div>
        </div>
    </div>
 </div>

<div class="row">
    <div class="col-lg-6 mb-3">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Pricing estimate</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Rate</th>
                                <th>Hours</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
<!--                                {% with rate=matter.hourly_rate %}-->
                                <td>{{}}</td>
                                <td>{{}}</td>
                                <td>${{}}</td>
<!--                                {% endwith %}-->
                            </tr>
                        </tbody>
                    </table>
                </div>
           </div>
       </div>
    </div>
    <div class="col-lg-6 mb-4">
        <div class="card shadow mb-4">
             <div class="card-header py-3">
                 <h6 class="m-0 font-weight-bold text-primary">Collaborators</h6>
             </div>
             <div class="card-body">
                 <div class="text-center">
                     <div class="table-responsive">
                         <table class="table table-bordered" width="100%" cellspacing="0">
                             <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Role</th>
                                    <th>Phone Number</th>
                                    <th>Email</th>
                                </tr>
                             </thead>
                             <tbody>
                                 <tr>
                                     <td>{{}}</td>
                                     <td>{{}}</td>
                                     <td>{{}}</td>
                                     <td>{{}}</td>
                                 </tr>
                             </tbody>
                         </table>
                         <div class="d-sm-flex align-items-center justify-content-between mb-4">
                             <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                                    <i class="fas fa-pen fa-sm text-white-50"></i> Add collaborator</a>
                         </div>
                     </div>
                 </div>
             </div>
        </div>
    </div>
 </div>
{% endblock %}