{% extends 'main/base.html' %}

{% block content %}


<div class="container-fluid">
    <div class="row">
        <div class="col"></div>
        <div class="col-6">
            <div class="card animated fadeInDown">
                <h1 class="card-header text-center">
                    <span id="logo"
                        >Cliqo<span class="blue">law</span></span
                    >
                </h1>
                <div class="card-body">
                    <h3 class="card-title underline">Sign Up</h3>
                    <form action="{% url 'main:signup' %}" method="post">
                        {% csrf_token %}
                        {% for field in signup_form %}
                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <label>{{ field.label }}</label>
                                </div>
                                <div class="col-6">
                                    <span>{{ field }}</span>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                        {% for message in messages %}
                        <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <p style="color: red">{{ message }}</p>
                        </div>
                        {% endfor %}

                        {% for error in field.errors %}-->
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}

                        <button type="submit" class="btn btn-primary">Sign Up</button>
                    </form>

                    <br />
                    <hr />

                    <span>Already have an account? <a href="{% url 'main:login' %}">Login</a></span>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>

{% endblock %}